.DS_Store
.pytest_cache/
__pycache__/
*.pyc
.venv/
.env

server-app/.ruff_cache/

legacy/native-client/.gradle/
legacy/native-client/.kotlin/
legacy/native-client/local.properties
legacy/native-client/**/build/
legacy/native-client/captures/

.idea/
