.DS_Store
.pytest_cache/
__pycache__/
*.pyc
.venv/
.env

server-app/.ruff_cache/

legacy/old-client/.gradle/
legacy/old-client/.kotlin/
legacy/old-client/local.properties
legacy/old-client/**/build/
legacy/old-client/captures/

.idea/
